extends ../../include/_layout
block var
  - title = 'instance'
  - path = '../'
block body
  h1 Vue インスタンス
  a(href="https://jp.vuejs.org/v2/guide/instance.html", target="_blank") Vue インスタンス（Vue.js公式ドキュメント）

  h2 コンストラクタ
  #app {{message}}

  h2 プロパティとメソッド
  #app2 {{a}}