extends ../../include/_layout
block var
  - title = 'transition'
  - path = '../'
block body
  h1 トランジション
  a(href="https://jp.vuejs.org/v2/guide/transitions.html", target="_blank") Enter/Leave とトランジション一覧（Vue.js公式ドキュメント）

  h2 単一要素/コンポーネントのトランジション
  #app
    .demo
      button(@click="show = !show") Toggle
      transition(name="fade")
        p(v-if="show") hello

  h2= "<transition-group>を利用した複数要素のトランジション"
  #app2
    .demo
      button(type="button", @click="add") Add
      button(type="button", @click="remove") Remove
      button(type="button", @click="shuffle") Shuffle
    transition-group(tag="ul", name="list")
      li(v-for="item in list", :key="item.id")
        item(:item="item")


  style(type='text/css').
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }

    .fade-enter, .fade-leave-to {
      opacity: 0
    }

    button {
      padding: 8px 30px;
      border-width: 0;
      background-color: #505050;
      color: #fff;
      font-family: inherit;
      font-size: inherit;
      cursor: pointer;
      transition: opacity 100ms ease-out;
    }

    button:hover {
      opacity: 0.7;
    }

    ul {
      position: relative;
      padding-top: 18px;
      width: 420px;
    }

    li {
      display: block;
      margin-top: 8px;
      padding: 8px 12px;
      width: 100%;
      background-color: #e5e5e5;
    }

    .list-enter-active,
    .list-leave-active,
    .list-move {
      transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
      transition-property: opacity, transform;
    }

    .list-enter {
      opacity: 0;
      transform: translateX(50px) scaleY(0.5);
    }

    .list-enter-to {
      opacity: 1;
      transform: translateX(0) scaleY(1);
    }

    .list-leave-active {
      position: absolute;
    }

    .list-leave-to {
      opacity: 0;
      transform: scaleY(0);
      transform-origin: center top;
    }