extends ../../include/_layout
block var
  - title = 'computed'
  - path = '../'
block body
  h1 算出プロパティとウォッチャ
  a(href="https://jp.vuejs.org/v2/guide/computed.html", target="_blank") 算出プロパティとウォッチャ（Vue.js公式ドキュメント）

  h2 算出プロパティ
  #app
    p {{ message }}
    p {{ reverseMessage }}
    p {{ reverseMessage2() }}

  h2 算出プロパティ vs 監視プロパティ
  #app2
    p {{ fullName }}
    p {{ fullName2 }}