extends ../../include/_layout
block var
  - title = 'router'
  - path = '../'
block body
  style(type="text/css").
    .router-link-active {
      color: red;
    }

    .slide-enter-active {
      transition: all .3s ease;
    }

    .slide-leave-active {
      transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-enter, .slide-fade-leave-to {
      transform: translateX(10px);
      opacity: 0;
    }

  #app
    h1 Vue Router Sample

    p
      router-link(to="/foo") Go to Foo
      router-link(to="/bar") Go to Bar

    //ルートとマッチしたコンポーネントがここに表示される
    router-view

  #app2
    h1 Dynamic Matching

    p
      router-link(to="/user/foo") /user/foo
      router-link(to="/user/bar") /user/bar

    //ルートとマッチしたコンポーネントがここに表示される
    router-view


  #app3
    h1 Single File Component

    p
      router-link(to="/app/hoge") /app/hoge
      router-link(to="/app/hage") /app/hage
      router-link(to="/user/foo") /user/foo
      router-link(to="/user/bar") /user/bar

    //ルートとマッチしたコンポーネントがここに表示される
    router-view(class="a", name="a")
    router-view(class="b", name="b")