extends ../../include/_layout
block var
  - title = 'syntax'
  - path = '../'
block body
  h1 テンプレート構文
  a(href="https://jp.vuejs.org/v2/guide/syntax.html", target="_blank") テンプレート構文（Vue.js公式ドキュメント）

  h2 テキスト
  #app {{message}}

  #app2(v-once) never change {{message}}

  h2 raw HTML
  #app3(v-html="rawHtml")

  h2 属性
  #app4(v-bind:id="dynamicId") DYNAMIC ID
    button(v-bind:disabled="isButtonDisabled") button

  h2 JavaScript式の使用
  #app5
    div(v-bind:id="'element' + id")
      p {{'element ' + id}}
      p {{ok ? 'YES' : 'NO'}}

  h2 ディレクティブ
  #app6
    p(v-if="active") seen
    button(v-on:click="doSomething") click!!
